# checksrc.config
{
    'DisableErrors': {
        'LineSize': ['Properties'],
        'MethCap': ['MixIn'],
        'NoUnderAttr': ['DBPool', 'Error', 'M2PickleRPC',
            'ParamFactory', 'PickleRPC', 'TestNamedValueAccess'],
        'ExtraUnder': ['DBPool', 'M2PickleRPC', 'NamedValueAccess', 'PickleRPC'],
    }
}
